<h1>Welcome to Burger Logger!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
      {{#if devoured}}TIME TO EAT!{{else}}Eat this burger!{{/if}}
    </button>
  </li>

  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>
<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>
    {{burger_name}}
  </li>
  {{/if}}
  {{/each}}
</ul>

<div class="form-group">
  <label for="name">Burger Name:</label>
  <input type="text" id="name" name="burgers_name">
  <button id="submitBtn">Add Burger</button>
</div>

<script src="/assets/js/add.js"></script>
<script src="/assets/js/select.js"></script>